<!-- <items-toolbar
  [sidenav]="sidenav"
  [title]="title"
  [authenticated$]="userIsAuthenticated$"
></items-toolbar> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" closed class="app-sidenav">
    <nav>
      <a
        mat-button
        class="nav-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        <mat-icon>
          {{ link.icon }}
        </mat-icon>
      </a>
    </nav>
  </mat-sidenav>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
